.card:hover{

    /* height: 500px; */
    box-shadow: 2px 2px 5px black;
    

}
.card{
    width: 300px ;
    margin: auto;
}
.card-text-area{
    height: 50px;
    overflow: hidden;


}
.card-button{
    margin-top: 3px;
}
.card-title-area{
    height: 25px;
    overflow: hidden;
}
